@{
    Layout = null;
}
@model MVCSample.Business.Entities.Product

<link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/owl-carousel/assets/js/jquery-1.9.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="repository-app panel panel-primary">
                <div class="panel-heading panel-head"><strong>New Products</strong></div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <hr />
                        <form method="post" action="/Product/Create">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                @Html.LabelFor(model => model.product_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="product_name" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @*<label for="" class="control-label">Supplier ID<span class="required">*</span></label>*@
                                @Html.LabelFor(model => model.supplier_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <select type="text" class="form-control" name="supplier_id" required>
                                        @foreach (var item in @ViewBag.GetSupplier)
                                        {
                                            <option value="@item.supplier_id">@item.company_name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*<input type="text" name="category_id" class="form-control" required />*@
                                    <select type="text" class="form-control" name="category_id" required>
                                        @foreach (var item in @ViewBag.GetCategory)
                                        {
                                            <option value="@item.category_id">@item.category_name</option>
                                        }
                                    </select>
                                </div>
                                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.quantity_per_unit, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="quantity_per_unit" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.quantity_per_unit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.unit_price, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="unit_price" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.unit_price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.units_in_stock, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="units_in_stock" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.units_in_stock, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.units_on_order, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="units_on_order" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.units_on_order, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.reorder_level, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="reorder_level" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.reorder_level, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.discontinued, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="number" class="form-control" min="0" max="1" name="discontinued" />
                                    @Html.ValidationMessageFor(model => model.discontinued, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input id="save_product" type="submit" value="Save" class="btn btn-success" />
                                    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>

    $(document).ready(function () {
        $("#save_product").on('click', function (e) {
            e.preventDefault(e);
            var name_product = $("[name='product_name']").val();
            var supplier_id = $("[name='supplier_id']").val();
            var category_id = $("[name='category_id']").val();
            var quantity_per_unit = $("[name='quantity_per_unit']").val();
            var unit_price = $("[name='unit_price']").val();
            var units_in_stock = $("[name='units_in_stock']").val();
            var units_on_order = $("[name='units_on_order']").val();
            var reorder_level = $("[name='reorder_level']").val();
            var discontinued = $("[name='discontinued']").val();
            var data = {
                product_id: 0,
                product_name: name_product,
                supplier_id: supplier_id,
                category_id: category_id,
                quantity_per_unit: quantity_per_unit,
                unit_price: unit_price,
                units_in_stock: units_in_stock,
                units_on_order: units_on_order,
                reorder_level: reorder_level,
                discontinued: discontinued
            };

            $.ajax({
                type: "POST",
                url: "/Product/Create",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                dataType: "JSON",
                success: function (response) {
                    if (response.success == true) {
                        alert(response.message);
                        $(location).attr('href', "Index");
                    }
                    else {
                        alert(response.message);
                    }
                }
            });
        });
    });

</script>*@

